body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  padding: 30px;
}

.pink-mode__toggle {
  background: #FFF6FF;
  border-radius: 50px;
  border: 1px solid black;
  height: 18px;
  position: relative;
  width: 38px;
}

.toggle {
  background: #670764;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 18px;

}

.pink-mode {
  color: black;
  background-color: #FFD0FD;
}

.Players {
  display: flex;
  flex-flow: column;
  margin: auto;
}

.Player {
  border: black 1px solid;
  width: 20%;
  display: flex;
  flex-flow: column;
  align-items: center;
  line-height: 1px;
  margin: 0 auto;
  margin-top: 10px;
  background: white;
}
